.section {
    padding: 60px 64px;
    background: white;
    width: 100%;
}

.container {
    max-width: 1792px;
    width: 100%;
    padding: 64px 48px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 24px;
    background: #E6F0FD;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding-bottom: 40px;
    padding-left: 108px;

}

.subTitle {
    color: #D0474F;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    display: block;
    height: auto;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1489px;
    width: 91%;

}

.title {
    font-size: 48px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
    letter-spacing: 0.72px;
    font-family: 'Poppins', sans-serif;
}

.link {
    color: #000;
    text-align: right;

    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    /* 258.333% */
    letter-spacing: 0.36px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding-left: 108px;

}

.card {
    padding: 40px 24px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.80);
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 316.95px;
    height: 313px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    border-color: #1DA1F2;
}

.iconWrapper {
    width: 66.726px;
    height: 67.823px;
    color: #D0474F;

    display: flex;
    align-items: center;
    justify-content: center;




}

.iconWrapper img {
    color: #D0474F;
}


.cardTitle {
    font-size: 20px;
    font-weight: 700;
    color: #000B47;
    font-family: "Poppins", sans-serif;
}

.cardDesc {
    font-size: 14px;
    line-height: 1.6;
    color: #888;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}



.card:hover .arrow {
    transform: translateX(5px);
}

@media(max-width:2560px) {
    .grid {
        width: 93%;
    }
}



@media (max-width: 1600px) {
    /* .container {
        padding: 60px 40px;
    } */



    .grid,
    .header {
        padding-left: 70px;
        /* max-width: 1300px; */
        
    }

    

    .card {
        width: 250px;
        height: 273px;
        padding: 20px 32px;
    }
}

@media (max-width: 1520px) {
    .grid {
        gap: 30px 60px;
    }

    .grid,
    .header {
        padding-left: 80px;
        max-width: 1200px;
        
    }

    .heading {
        width: 100%;
    }

    .card {
        width: 230px;
        height: 273px;
        padding: 20px 32px;
    }
}

@media (max-width: 1440px) {
    .title {
        font-size: 40px;
    }

    .grid {
        gap: 20px;
    }

    .grid,
    .header {
        padding-left: 70px;
        max-width: 1150px;
        width: 100%;
    }

    .heading {
        width: 99%;
    }

    .card {
        width: 250px;
        height: 273px;
        padding: 28px 18px;
    }

    .cardTitle {
        font-size: 18px;

    }

    .iconWrapper,
    .img {
        width: 45px;
        height: 45px;
    }
}



@media (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid,
    .header {
        padding-left: 0;
    }
}

@media (max-width: 1024px) {
    /* .container {
        padding: 50px 30px;
    } */

    .title {
        font-size: 36px;
    }

    .link {
        font-size: 20px;
    }

    .grid {
        gap: 40px;
    }

    .grid,
    .header {
        padding-left: 30px;
    }


    .heading {
        width: 99%;
    }

    .card {
        width: 220px;
        height: 253px;
        padding: 28px 18px;
    }

    .cardTitle {
        font-size: 14px;

    }

    .cardDesc {
        font-size: 12px;
    }

    .iconWrapper,
    .img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 40px 32px;
    }

    .container {
        padding: 40px 32px;
    }

    .title {
        font-size: 32px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 40px;
        padding-left: 50px;
    }

    .header {
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .subTitle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heading {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .heading {
        width: 600px;
    }

    .link {
        align-self: center;
    }
}

@media (max-width: 580px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 426px) {
    .section {
        padding: 30px 16px;
    }

    .container {
        padding: 30px 20px;
    }

    .title {
        font-size: 28px;
    }

    .cardDesc {
        font-size: 13px;
    }

    .heading {
        width: 100%;
    }

    .grid {
        padding-left: 40px;
    }


}

@media (max-width: 376px) {
    .title {
        font-size: 24px;
    }

    .grid {
        padding-left: 20px;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 22px;
    }

    .card {
        width: 200px;
        height: 273px;
        padding: 28px 18px;
    }
}