.section_container {
    width: 100%;
    padding: 48px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.inner_border_container {
    width: 100%;
    max-width: 1792px;
    background-color: #e6f3ff;
    padding: 50px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 24px;
}

.sub_title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: ;
    font-weight: 600;
    color: #d0474f;
    letter-spacing: 1.5%;

}

.main_heading {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 70px 0;
    text-align: center;
    letter-spacing: 1.5%;
}

.cards_grid {
    width: 100%;
    max-width: 1610px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 42px;
    margin-bottom: 50px;

}

.testimonial_card {
    background-color: #ffffff;
    border-radius: 21px;
    padding: 43px 33px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: -42px 48px 32px rgba(0, 0, 0, 0.05);

}

.avatar_container {
    position: absolute;
    top: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.avatar_img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.quote_icon {
    position: absolute;
    top: 40px;
    left: 30px;
    font-family: 'Georgia', serif;
    font-size: 70px;
    color: #E6F0FD;
    line-height: 1;
    user-select: none;

}
.quote_icon img{
    height: 90px;
    width: 90px;
}

.patient_name {
    font-family: 'Poppins', sans-serif;
    font-size: 24.16px;
    font-weight: 600;
    color: #343434;
    margin: 0 0 5px 0;
    z-index: 1;
}

.patient_role {
    font-family: "Jakarta Sans", sans-serif;
    font-size: 16px;
    color: #6B6B6B;
    margin: 0 0 20px 0;
    z-index: 1;
}

.testimonial_text {
    font-family: "Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #666666;
    line-height: 1.6;
    margin: 0;
    z-index: 1;

}

.explore_btn {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    background: none;
    border: none;
    /* border-bottom: 2px solid #000000; */
    text-decoration: underline;
    letter-spacing: 1.5%;
    cursor: pointer;
    transition: color 0.2s ease;
}

.explore_btn:hover {
    color: #2b9eff;
    border-color: #2b9eff;
}

/* Responsive Handling */
@media (max-width: 1440px) {
    .cards_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 30px;
        /* Row gap barhaya taake avatar space bani rahe */
    }

    .explore_btn {
        font-size: 20px;
        letter-spacing: 1.5%;
    }
}

@media (max-width: 768px) {
    .cards_grid {
        grid-template-columns: 1fr;
        gap: 70px 0px;
    }

    .main_heading {
        font-size: 32px;
    }
    .explore_btn {
        font-size: 18px;
        letter-spacing: 1.5%;
    }
    .testimonial_text{
        font-size: 16px;
    }
    .quote_icon img{
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 426px) {
    .section_container{
        padding: 30px 16px;
    }
    .inner_border_container{
        padding: 20px;
    }
    .cards_grid {
        grid-template-columns: 1fr;
        gap: 70px 0px;
    }

    .main_heading {
        font-size: 26px;
    }
    .patient_name{
        font-size: 18px;
    }
    .testimonial_text,.patient_role{
        font-size: 14px;
    }
    .testimonial_card{
        padding-left:20px;
        padding-right: 20px;
    }
    .explore_btn{
        padding-bottom: 20px;
    }
    .quote_icon{
        left: 20px;
    }
    .quote_icon img{
        width: 45px;
        height: 45px;
    }
    .sub_title{
        font-size: 14px;
    }
}
@media (max-width: 376px) {
    .section_container{
        padding: 30px 16px;
    }
    .inner_border_container{
        padding: 20px;
    }
    .cards_grid {
        grid-template-columns: 1fr;
        gap: 70px 0px;
    }

    .main_heading {
        font-size: 26px;
    }
    .patient_name{
        font-size: 18px;
    }
    .testimonial_text,.patient_role{
        font-size: 12px;
    }
    .explore_btn {
        font-size: 16px;
        letter-spacing: 1.5%;
        padding-bottom: 20px;
    }
    .quote_icon{
        left: 20px;
    }
    .quote_icon img{
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 320px) {
    .cards_grid {
        grid-template-columns: 1fr;
        gap: 70px 0px;
    }

    .main_heading {
        font-size: 22px;
    }
    .sub_title{
        font-size: 12px;
    }
}